* {
	margin: 0;
	padding: 0;
}
#canvas {
	display: block;
	margin: 10px auto;
	border: 1px solid black;
}
#imgdata {
	display: none;
}
#setcontainer {
	width: 1000px;
	height: 30px;
	margin: 10px auto;
}
#setcontainer #charContainer {
	float: left;
}
#setcontainer input {
	width: 35px;
	height: 20px;
	margin-top: 5px;
	text-align: center;
	font-size: 16px;
	border: 1px solid black;
}
#setcontainer #btn {
	width: 100px;
	height: 30px;
	background-color: #1EABEC;
	line-height: 30px;
	text-align: center;
	color: white;
	margin-left: 10px;
	cursor: pointer;
	float: right;
}
::-webkit-input-placeholder { /* WebKit browsers */ 
	color: gray; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
	color: gray; 
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
	color: gray; 
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
	color: gray; 
}